<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layoutAdmin :: layout_head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <nav th:replace="~{layoutAdmin :: nav_left}"></nav>
    <div id="content">
        <nav th:replace="~{layoutAdmin :: nav_top}"></nav>
        <h1>Danh sách tài khoản học viên</h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Thứ tự</th>
                <th scope="col">Tên</th>
                <th scope="col">Tuổi</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Lớp</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Xoá</th>
                <th scope="col">Sửa</th>
            </tr>
            </thead>
            <tbody>
            <th:block>
                <tr th:each="student,iStat : ${listStudent}">
                    <th scope="row" th:text="${iStat.index + 1}"></th>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.age}"></td>
                    <td th:text="${student.address}"></td>
                    <td th:text="${student.tel}"></td>
                    <td th:text="${student.image}"></td>
                    <td>Xoa</td>
                    <td>Sua</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="~{layoutAdmin :: toggle_nav}"></div>
</body>
</html>